<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i0.wp.com/theluxurytravelexpert.com/wp-content/uploads/2014/06/ruta-40-near-el-chelten-argentina.jpg?ssl=1);">
  <div class="container">
      <h1>Your journey stars now!</h1>
    </div>
</div>

<div class="container">
  <%= simple_form_for [ @car, @booking ] do |f| %>

    <input type="date" id="start_date" name="booking[start_date]">

    <input type="date" id="end_date" name="booking[end_date]">
    <%= f.submit class: "btn-flat" %>
  <% end %>
</div>
