<!DOCTYPE html>
<html lang="en">

<body>
  <!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blogmedia.dealerfire.com/wp-content/uploads/sites/1176/2019/05/Bemer-Motor-Cars_Jaguar-BMW-Land-Rover-Which-Luxury-Car-Best-Fits-Your-Style_IMAGE1-1024x683.jpeg);">
    <div class="container">
      <h1>Welcome to High End Wheels - The Airbnb for Luxury Cars!</h1>
      <p>Book your luxury car instantly and start exploring.</p>
      <a class="btn btn-flat" href="#">Find your car now</a>
      <button><%= link_to "sign up",  user_session_path %></button>
    </div>
  </div>

  <!-- Main -->
  <div class="cards">
  <div class="card-trip">
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-mercedes-amg-gt-r-pro-126-1554739776.jpg?crop=0.723xw:0.885xh;0.173xw,0.115xh&resize=768:*" />
  <div class="card-trip-infos">
    <div>
      <h2>Mercedes AMG</h2>
      <p>The ultimate speed test!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99 per day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-trip">
  <img src="https://2p2bboli8d61fqhjiqzb8p1a-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/ferrari-california-t-750x375.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Ferrari California</h2>
      <p>Feel like you're driving through Beverly Hills!</p>
    </div>
    <h2 class="card-trip-pricing">£119.99 per day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-trip">
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2018-mclaren-senna-ll-103-1570476637.jpg?crop=0.567xw:0.694xh;0.345xw,0.306xh&resize=768:*" />
  <div class="card-trip-infos">
    <div>
      <h2>McLaren Senna</h2>
      <p>Feel like Elon Musk when he sold his first company!</p>
    </div>
    <h2 class="card-trip-pricing">£149.99 per day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<div class="card-trip">
  <img src="https://suvs2020.com/wp-content/uploads/2018/12/2020-Mercedes-Benz-G-Class.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Mercedes G Class</h2>
      <p>Have the luxury to bump into whoever you want!</p>
    </div>
    <h2 class="card-trip-pricing">£200.99 per day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-trip">
  <img src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Fsundaytimes%2Fprod%2Fweb%2Fbin%2F6ca3fee8-12db-11e6-af11-ce34593cdafd.jpg?crop=1778%2C1000%2C0%2C0&resize=1180" />
  <div class="card-trip-infos">
    <div>
      <h2>Porsche 911</h2>
      <p>Attract the attention of everybody with this 'lil treat.</p>
    </div>
    <h2 class="card-trip-pricing">£219.99 per day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-trip">
  <img src="https://cdn.motor1.com/images/mgl/3Mkrx/s1/turbine-powered-keaton-era-batmobile-replica.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>The Batmobile</h2>
      <p>Be the Dark Knight for a night.</p>
    </div>
    <h2 class="card-trip-pricing">£349.99 per day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Table 5
  </div>
</div>

</body>


</html>
